<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/loader.css">
    <link rel="stylesheet" href="/css/profile.css">


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo Paaji 2">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Heebo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Changa">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">



    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Users</title>
</head>
<body class="user">


    <div class="loader-container" id="loader-container">
        <div class="loader">
           <div class="loader__bar"></div>
           <div class="loader__bar"></div>
           <div class="loader__bar"></div>
           <div class="loader__bar"></div>
           <div class="loader__bar"></div>
           <div class="loader__ball"></div>
         </div>
       </div>


    <nav class="admin">
        <nav class="admin__nav">
            <ul class="admin__nav-links">

                <img src="/img/logo.png" alt="logo" class="admin__nav-logo">

            </ul>


            <h3 class="admin__nav-dash">DASHBOARD</h3>

            <form class="admin__nav-search" action="">

                <img src="../img/search.svg" alt="Search icon" class="admin__nav-search--icon">
                
                <input class="admin__nav-search--input" type="search" placeholder="search..." >
            </form>
            
            <div class="admin__nav-profile">
                <img class="admin__nav-profile--pic" src="/img/profile-pic.jpg" alt="my pic">

                <p class="admin__nav-profile--name"> <span class="admin__nav-profile--name---first">Ndayisabye</span> <br> <span class="admin__nav-profile--name---last">Salim</span></p>
                <!-- <div class="admin__nav-profile--name---last">Salim</div> -->
                </figcaption>
            </div>

            <a href="" id="logout-btn" class="admin__nav-logout">
                Log Out
            </a>

        </nav>
    </nav>


    <main class="container">
        <div class="container__side">
            <ul class="container__side-list">
                <li class="container__side-list--item top-link "><a href="/views/blogs.html">Manage Blogs</a></li>
                <li class="container__side-list--item" id="queries-hide"><a href="/views/queries.html">Manage Queries</a></li>
                <li class="container__side-list--item"><a href="/views/comments.html">Manage Comments</a> </li>
                <li class="container__side-list--item"><a href="/views/users.html">Manage Users</a> </li>
                <li class="container__side-list--item" id="subscribers-hide"><a href="/views/subscriber.html">Manage Subscriber</a> </li>
                <li class="container__side-list--item link-active" id=""><a href="/views/profile.html">User Profile</a> </li>
            </ul>

        </div>
        <div class="container__content">
            <div class="container__content-heading">
                <h1 class="container__content-heading-head">
                    Your Profile
                </h1>
            </div>
<div id="users-show">
            





    <form action="/views/blogs.html" id="newProfile">

        <!-- USER NAME -->
        <div class="float-label">
          <input type="text" name="f-name" value="" id="userName" placeholder="Name">
        </div>
        <br>

        <!-- PASSWORD -->
        <div class="float-label">
          <input type="text" name="" value="" placeholder="Password" id="userPassword">
        </div>
        <br>

        <!-- EMAIL ADDRESS -->
        <div class="float-label">
          <input type="text" name="f-name" value="" id="userEmail" placeholder="email address">
        </div>
        <br>
       </div>

       <button class="container__content-row--edit">Update Profile</button>
    </form>


        <!-- Display User Profile  -->
        <!-- =============================================================== -->
        <div id="updateProfile" class="row">

          <!-- Update Name -->

          <!-- Update Other information -->
          <div class="user-right">
            <h2>Profile <span>Info</span></h2>
            <div class="user-info">
              <table>
                <tr>
                    <td><p>email address : </p> </td>
                    <td><p id="updateEmail"></p></td>
                </tr>
                <tr>
                    <td><p>User name :</p></td>
                    <td><p id="updateName"></p></td>
                </tr>
                <tr>
                    <td><p>Role: </p></td>
                    <td><p id="updateRole"></p></td>
                </tr>


                </table>
              </div>
            </div>
          </div>
        </div>




</div>




            
        </div>
    </main>

    <!-- <script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-firestore.js"></script> -->
    <!-- <script src="/js/admin.logout.js"></script> -->
    <script src="/js/profile.js"></script>


</body>
</html>